@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-wavy {
	padding: 20px;
	background-image: url("/wavy_background.webp");
	background-repeat: repeat-x;
	background-size: 100% 100%;
}
* {
	margin: 0;
	box-sizing: border-box;
}

@layer base {
	:root {
		--background: 185 52% 99%;
		--foreground: 185 62% 5%;
		--muted: 194.68 10.41% 90.04%;
		--muted-foreground: 185 0% 0%;
		--popover: 185 52% 99%;
		--popover-foreground: 185 62% 5%;
		--card: 185 52% 98%;
		--card-foreground: 185 62% 4%;
		--border: 185 0% 0%;
		--input: 185 0% 0%;
		--primary: 93 77% 57%;
		--primary-foreground: 0 0% 0%;
		--secondary: 197.96 100% 71.18%;
		--secondary-foreground: 185 15% 22%;
		--accent: 106.67 100% 91.18%;
		--accent-foreground: 185 21% 15%;
		--destructive: 1 80% 39%;
		--destructive-foreground: 1 80% 99%;
		--ring: 93.15 77.68% 54.31%;
		--radius: 0rem;
	}

	.dark {
		--background: 127 50% 1%;
		--foreground: 127 25% 100%;
		--muted: 97 27% 10%;
		--muted-foreground: 97 0% 66%;
		--popover: 127 50% 1%;
		--popover-foreground: 127 25% 100%;
		--card: 127 50% 1%;
		--card-foreground: 127 25% 100%;
		--border: 127 11% 12%;
		--input: 127 11% 12%;
		--primary: 127 91% 72%;
		--primary-foreground: 127 91% 12%;
		--secondary: 97 91% 72%;
		--secondary-foreground: 97 91% 12%;
		--accent: 157 91% 72%;
		--accent-foreground: 157 91% 12%;
		--destructive: 6 81% 51%;
		--destructive-foreground: 0 0% 100%;
		--ring: 127 91% 72%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.bg-gradient {
		background: var(--gradient);
	}
}
