@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-wavy {
	padding: 20px;
	background-image: url("/wavy_background.webp");
	background-repeat: repeat-x;
	background-size: 100% 100%;
}

@layer base {
	:root {
		--gradient: #00467f;
		--background: 220 100% 98.5%;
		--foreground: 220 10% 1%;

		--muted: 220 10% 92.5%;
		--muted-foreground: 220 5% 42.5%;

		--popover: 220 10% 92.5%;
		--popover-foreground: 220 10% 1.25%;

		--card: 220 10% 92.5%;
		--card-foreground: 220 10% 1.25%;

		--border: 220 15% 90%;
		--input: 220 15% 90%;

		--primary: 220 100% 25%;
		--primary-foreground: 220 2% 92.5%;

		--secondary: 220 5% 96.25%;
		--secondary-foreground: 220 7% 12.5%;

		--accent: 220 5% 96.25%;
		--accent-foreground: 220 7% 12.5%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 220 100% 25%;

		--radius: 0.5rem;
	}

	.dark {
		--gradient: #076585;

		--background: 207 58.5% 2.16%;
		--foreground: 207 9% 96.35%;

		--muted: 207 45% 8.100000000000001%;
		--muted-foreground: 207 9% 52.7%;

		--popover: 207 47% 3.5100000000000002%;
		--popover-foreground: 207 9% 96.35%;

		--card: 207 47% 3.5100000000000002%;
		--card-foreground: 207 9% 96.35%;

		--border: 207 45% 8.100000000000001%;
		--input: 207 45% 8.100000000000001%;

		--primary: 207 90% 27%;
		--primary-foreground: 207 9% 96.35%;

		--secondary: 207 45% 8.100000000000001%;
		--secondary-foreground: 207 9% 96.35%;

		--accent: 207 45% 8.100000000000001%;
		--accent-foreground: 207 9% 96.35%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 207 9% 96.35%;

		--ring: 207 90% 27%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.bg-gradient {
		background: var(--gradient);
	}
}
